//-----------------------------여기부터 파란색바 + 작은 타이틀
.business-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.business-mini-line {
  margin: 150px 0 30px 0;
  width: 50px;
  border-bottom: 5px solid #004294;
}

.business-mini-text {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
}

//-----------------------------여기부터 사업 및 개발 방향
.present-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.present-img {
  background-image: url("../../../public/images/business_img/present.jpg");
  width: 0;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.present-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.present-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 100px;
  right: -211px;
  line-height: 38px;
  opacity: 0;
}

.present-line {
  width: 1200px;
  height: 2px;
  background-color: #ededed;
  margin: 110px 0;
}

.vision-box {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.vision-img {
  // background-image: url("../../../public/images/business_img/vision.jpg");
  width: 592px;
  height: 700px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-text-box {
  padding: 45px 0 45px 90px;
}

.vision-title {
  font-size: 38px;
  color: #004294;
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-subtitle {
  font-size: 28px;
  color: #000;
  font-weight: 800;
  line-height: 45px;
  margin-bottom: 20px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-content {
  font-size: 20px;
  color: #515151;
  line-height: 38px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-div-line {
  width: 520px;
  height: 2px;
  background-color: #ededed;
  margin: 60px 0;
}

.vision-content1 {
  line-height: 38px;
  margin-bottom: 13px;
}

.vision-content2 {
  line-height: 38px;
}

//-----------------------------여기부터 모니터링 개요
.monitoring-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.monitoring-img {
  background-image: url("../../../public/images/business_img/monitoring.jpg");
  width: 0;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.monitoring-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 100%;
  left: 100px;
  width: 1200px;
  opacity: 0;
}

.monitoring-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50px;
  right: -205px;
  line-height: 38px;
  opacity: 0;
}

.monitoring1-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  > img {
    width: 1200px;
    height: 467px;
  }
}

.up-animation {
  position: relative;
  top: 100px;
  opacity: 0;
}

.cause-matter {
  display: flex;
  margin-top: 35px;
  width: 1200px;
}

.cause-matter-left {
  background-color: #f3f3f3;
  color: #000;
  font-size: 25px;
  border-left: 5px solid #004294;
  line-height: 45px;
  width: 415px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 600;
}

.cause-matter-right {
  background-color: #fff;
  color: #000;
  font-size: 25px;
  border-right: 5px solid #004294;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  line-height: 45px;
  width: 785px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.div-line {
  margin: 150px 0;
  width: 1200px;
  height: 1px;
  background-color: #e3e3e3;
}

.monitoring-content2-img {
  width: 1200px;
}

.monitoring3-box {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: 150px 0 0 0;
  position: relative;
}
.monitoring3-title {
  margin-bottom: 50px;
  width: 1200px;
  font-size: 25px;
  color: #000;
  font-weight: 600;
}
.monitoring-content3-img {
  width: 1200px;
}

.monitoring-overview-box {
  position: relative;
  width: 1200px;
  height: 800px;
}

.appear {
  opacity: 0;
}

//-----------------------------여기부터 저감시스템
.reduction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reduction-img {
  background-image: url("../../../public/images/business_img/reduction.jpg");
  width: 0px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.reduction-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.reduction-text {
  color: #000;
  font-size: 18px;
  position: relative;
  top: 50px;
  right: -276px;
  line-height: 38px;
  opacity: 0;
  span {
    font-size: 20px;
  }
}

.reduction2 {
  width: 1200px;
  margin: 33px 0 150px 0;
}

.reduction2-img {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ededed;
  padding: 8px 0;
  margin-bottom: 20px;
}

.tri-top {
  width: 0;
  height: 0;
  border-left: 154px solid transparent; /* 왼쪽 변 */
  border-right: 154px solid transparent; /* 오른쪽 변 */
  border-bottom: 44px solid #d3def1;
}

.tri-middle {
  background-color: #d3def1;
  width: 195px;
  height: 20px;
}

.tri-bottom {
  background-color: #d3def1;
  width: 100%;
  text-align: center;
  color: #010101;
  font-size: 30px;
  font-weight: 800;
  padding: 32px 0;
}

//-----------------------------여기부터 알고리즘
.algorithm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.algorithm-img {
  background-image: url("../../../public/images/business_img/algorithm.jpg");
  width: 0px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.algorithm-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.algorithm-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50px;
  right: -324px;
  line-height: 38px;
  opacity: 0;
}

.algorithm2 {
  width: 1200px;
  margin: 55px 0 150px 0;
}

.algorithm2-img {
  // display: flex;
  // justify-content: space-around;
  // border: 1px solid #ededed;
  // padding: 8px 0;
  margin-bottom: 20px;
}

//-----------------------------여기부터 연구개발
.research-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;
}

.research-img {
  background-image: url("../../../public/images/business_img/research.jpg");
  width: 0px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.research-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
  span {
    font-size: 48px;
  }
}

.research-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50px;
  right: -324px;
  line-height: 38px;
  opacity: 0;
}

.research2 {
  width: 1200px;
  margin-top: 55px;
}

.photo-text {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.research-photo {
  display: flex;
  img {
    width: 100%;
    height: 100%;
    margin-right: 13px;
  }
}

.photo-img {
  width: 290px;
  height: 290px;
  overflow: hidden;
  margin-right: 13px;
  position: relative;
}

.black-overlay {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 290px;
  height: 290px;
  z-index: 2;
  transition: top 0.5s ease;
}
.blank-box {
  width: 290px;
  height: 290px;
  margin-right: 13px;
}

.research3 {
  width: 1200px;
  margin-bottom: 150px;
}
@media screen and (max-width: 1468px) {
  .business-mini-line {
    margin: 10vw 0 2vw 0;
    width: 3.7vw;
    border-bottom: 0.4vw solid #004294;
  }
  .business-mini-text {
    font-size: 2.7vw;
    margin-bottom: 8vw;
  }

  .present-img {
    width: 80vw;
    height: 29.9vw;
    background-position: bottom;
  }
  .present-title {
    font-size: 3.4vw;
    width: 80vw;
    left: 6vw;
  }

  .present-text {
    font-size: 1.36vw;
    top: 6.7vw;
    right: -14.3vw;
    line-height: 2.6vw;
  }
  .present-line {
    width: 80vw;
    margin: 7vw 0;
  }
  .vision-box {
    margin-bottom: 10vw;
  }
  .vision-img {
    width: 40.5vw;
    height: 47.7vw;
    // top: 6.8vw;
  }
  .vision-text-box {
    padding: 3vw 0 2.5vw 6vw;
  }

  .vision-title {
    font-size: 2.6vw;
    margin-bottom: 3.2vw;
  }

  .vision-subtitle {
    font-size: 1.9vw;
    line-height: 3.1vw;
    margin-bottom: 1.4vw;
  }

  .vision-content {
    font-size: 1.3vw;
    line-height: 2.6vw;
  }

  .vision-div-line {
    width: 35.5vw;
    height: 2px;
    margin: 4vw 0;
  }

  .vision-content1 {
    line-height: 2.6vw;
    margin-bottom: 0.9vw;
  }

  .vision-content2 {
    line-height: 2.6vw;
  }
  ///////////////////////////////////////여기부터 모니터링
  .monitoring-img {
    background-image: url("../../../public/images/business_img/monitoring.jpg");
    height: 29.9vw;
    background-position: center;
  }

  .monitoring-title {
    font-size: 3.4vw;
    width: 80vw;
    left: 6vw;
  }

  .monitoring-text {
    font-size: 1.36vw;
    top: 6.7vw;
    right: -14.3vw;
    line-height: 2.6vw;
  }

  .monitoring1-box {
    margin-top: 3.4vw;
  }
  .monitoring-content1-img {
    width: 80vw;
  }

  .cause-matter {
    margin-top: 2.4vw;
    width: 80vw;
  }

  .cause-matter-left {
    font-size: 1.7vw;
    border-left: 0.4vw solid #004294;
    line-height: 3vw;
    width: 28vw;
    padding: 1.5vw 0;
  }

  .cause-matter-right {
    font-size: 1.7vw;
    border-right: 0.4vw solid #004294;
    line-height: 3vw;
    width: 54vw;
    padding: 1.5vw 0;
  }

  .div-line {
    margin: 10vw 0;
    width: 80vw;
  }

  .monitoring-content2-img {
    width: 80vw;
  }

  .monitoring3-box {
    margin-top: 10vw;
    padding: 10vw 0 0 0;
  }
  .monitoring3-title {
    width: 80vw;
    font-size: 1.7vw;
  }

  .monitoring-overview-box {
    width: 80vw;
    height: 55vw;
  }

  .monitoring-content3-img {
    width: 80vw;
  }
  ////////////////////////////////////////여기부터 저감 시스템
  .reduction-img {
    height: 29.9vw;
    background-position: center;
  }

  .reduction-title {
    font-size: 3.4vw;
    width: 80vw;
    left: 6vw;
  }

  .reduction-text {
    font-size: 1.23vw;
    top: 3.5vw;
    right: -18.7vw;
    line-height: 2.6vw;
    span {
      font-size: 1.4vw;
    }
  }

  .reduction2 {
    width: 80vw;
    margin: 2.5vw 0 10vw 0;
    display: flex;
    flex-direction: column;
  }

  .reduction2-img {
    padding: 0.5vw 0;
    margin-bottom: 1.35vw;
  }

  .reduction-left-img {
    width: 33.5vw;
  }
  .reduction-right-img {
    width: 46.5vw;
  }

  .tri-top {
    width: 0;
    height: 0;
    border-left: 10.5vw solid transparent; /* 왼쪽 변 */
    border-right: 10.5vw solid transparent; /* 오른쪽 변 */
    border-bottom: 3.1vw solid #d3def1;
  }

  .tri-middle {
    width: 13.2vw;
    height: 1.37vw;
  }

  .tri-bottom {
    font-size: 2.05vw;
    padding: 32px 0;
    padding: 2.25vw 0;
  }
  //-----------------------------여기부터 알고리즘
  .algorithm-img {
    background-image: url("../../../public/images/business_img/algorithm.jpg");
    height: 29.9vw;
    background-position: center;
  }

  .algorithm-title {
    font-size: 3.4vw;
    width: 80vw;
    left: 6vw;
  }

  .algorithm-text {
    font-size: 1.36vw;
    top: 3.4vw;
    right: -22vw;
    line-height: 2.6vw;
  }
  /////////////////////////////////////////
  .algorithm2 {
    width: 80vw;
    margin: 3.8vw 0 10vw 0;
  }

  .algorithm2-img {
    margin-bottom: 1.3vw;
    img {
      width: 80vw;
    }
  }

  //-----------------------------여기부터 연구개발
  .research-img {
    height: 29.9vw;
    background-position: center;
  }

  .research-title {
    top: 4.5vw;
    font-size: 3.4vw;
    width: 80vw;
    left: 6.8vw;
    span {
      font-size: 3.3vw;
    }
  }

  .research-text {
    font-size: 1.36vw;
    top: 3.4vw;
    right: -22vw;
    line-height: 2.6vw;
  }

  .research2 {
    width: 80vw;
    margin-top: 3.7vw;
  }

  .photo-text {
    font-size: 1.7vw;
    margin-bottom: 1vw;
    top: 8vw;
  }

  .photo-img {
    width: 20vw;
    height: 20vw;
    margin-right: 1vw;
  }

  .black-overlay {
    width: 20vw;
    height: 20vw;
  }

  .blank-box {
    width: 20vw;
    height: 20vw;
    margin-right: 1vw;
  }

  .research3 {
    width: 80vw;
    margin-bottom: 10vw;
  }
  /////////////////////////////////////////
}

@media screen and (max-width: 992px) {
  .photo-text {
    margin-bottom: 1vw;
    top: 11vw;
  }
  .present-title {
    width: 80vw;
    left: 6vw;
  }

  .present-text {
    font-size: 1.36vw;
    top: 6.7vw;
    right: -14.3vw;
    line-height: 2.6vw;
  }
}

@media screen and (max-width: 768px) {
  .aboutus-nav-btn a {
    font-size: 2.5vw;
  }
  /////////////////////////////////
  .vision-text-box {
    padding: 2.5vw 0 2.5vw 4.5vw;
  }
  .vision-title {
    font-size: 3.2vw;
  }

  .vision-subtitle {
    font-size: 2.1vw;
  }
  .vision-content {
    font-size: 1.4vw;
  }
  .vision-content1 {
    line-height: 2.7vw;
  }

  .vision-content2 {
    line-height: 2.7vw;
  }

  /////////////////////////////////
  .photo-text {
    margin-bottom: 0.5vw;
    top: 13vw;
  }
}

@media screen and (max-width: 634px) {
  .photo-text {
    top: 16vw;
  }
}

@media screen and (max-width: 579px) {
  .photo-text {
    top: 17vw;
  }
}

@media screen and (max-width: 525px) {
  .sub-content {
    font-size: 2.8vw;
  }
  .photo-text {
    top: 19vw;
  }
}

@media screen and (max-width: 465px) {
  .photo-text {
    top: 21vw;
  }
}

@media screen and (max-width: 397px) {
  .photo-text {
    top: 25vw;
  }
}
@media screen and (max-width: 331px) {
  .photo-text {
    top: 29.5vw;
  }
}
