@charset "UTF-8";
.business-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-line {
  margin: 150px 0 30px 0;
  width: 50px;
  border-bottom: 5px solid #004294;
}

.mini-text {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
}

.present-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.present-img {
  background-image: url("../../../public/images/business_img/present.jpg");
  width: 0;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.present-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.present-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 100px;
  right: -211px;
  line-height: 38px;
  opacity: 0;
}

.present-line {
  width: 1200px;
  height: 2px;
  background-color: #ededed;
  margin: 110px 0;
}

.vision-box {
  display: flex;
  margin-bottom: 150px;
}

.vision-img {
  background-image: url("../../../public/images/business_img/vision.jpg");
  width: 592px;
  height: 700px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-text-box {
  padding: 45px 0 45px 90px;
}

.vision-title {
  font-size: 38px;
  color: #004294;
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-subtitle {
  font-size: 28px;
  color: #000;
  font-weight: 800;
  line-height: 45px;
  margin-bottom: 20px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-content {
  font-size: 20px;
  color: #515151;
  line-height: 38px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.vision-div-line {
  width: 520px;
  height: 2px;
  background-color: #ededed;
  margin: 60px 0;
}

.vision-content1 {
  line-height: 38px;
  margin-bottom: 13px;
}

.vision-content2 {
  line-height: 38px;
}

.monitoring-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.monitoring-img {
  background-image: url("../../../public/images/business_img/monitoring.jpg");
  width: 0;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.monitoring-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 100%;
  left: 100px;
  width: 1200px;
  opacity: 0;
}

.monitoring-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50px;
  right: -205px;
  line-height: 38px;
  opacity: 0;
}

.monitoring1-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.monitoring1-box > img {
  width: 1200px;
  height: 467px;
}

.up-animation {
  position: relative;
  top: 100px;
  opacity: 0;
}

.cause-matter {
  display: flex;
  margin-top: 35px;
  width: 1200px;
}

.cause-matter-left {
  background-color: #f3f3f3;
  color: #000;
  font-size: 25px;
  border-left: 5px solid #004294;
  line-height: 45px;
  width: 415px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 600;
}

.cause-matter-right {
  background-color: #fff;
  color: #000;
  font-size: 25px;
  border-right: 5px solid #004294;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  line-height: 45px;
  width: 785px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.div-line {
  margin: 150px 0;
  width: 1200px;
  height: 1px;
  background-color: #e3e3e3;
}

.monitoring3-box {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: 150px 0 0 0;
  position: relative;
}
.monitoring3-box > div {
  width: 1200px;
  font-size: 25px;
  color: #000;
  font-weight: 600;
}
.monitoring3-box > img {
  width: 1200px;
}

.monitoring-overview-box {
  position: relative;
  width: 1200px;
  height: 800px;
}
.monitoring-overview-box > img {
  width: 1200px;
}

.appear {
  opacity: 0;
}

.reduction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reduction-img {
  background-image: url("../../../public/images/business_img/reduction.jpg");
  width: 0px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.reduction-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.reduction-text {
  color: #000;
  font-size: 18px;
  position: relative;
  top: 50px;
  right: -276px;
  line-height: 38px;
  opacity: 0;
}

.reduction2 {
  width: 1200px;
  margin: 55px 0 150px 0;
}

.reduction2-img {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ededed;
  padding: 8px 0;
  margin-bottom: 20px;
}

.tri-top {
  width: 0;
  height: 0;
  border-left: 154px solid transparent; /* 왼쪽 변 */
  border-right: 154px solid transparent; /* 오른쪽 변 */
  border-bottom: 44px solid #d3def1;
}

.tri-middle {
  background-color: #d3def1;
  width: 195px;
  height: 20px;
}

.tri-bottom {
  background-color: #d3def1;
  width: 100%;
  text-align: center;
  color: #010101;
  font-size: 30px;
  font-weight: 800;
  padding: 32px 0;
}

.algorithm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.algorithm-img {
  background-image: url("../../../public/images/business_img/algorithm.jpg");
  width: 0px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.algorithm-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.algorithm-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50px;
  right: -324px;
  line-height: 38px;
  opacity: 0;
}

.algorithm2 {
  width: 1200px;
  margin: 55px 0 150px 0;
}

.algorithm2-img {
  margin-bottom: 20px;
}

.research-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.research-img {
  background-image: url("../../../public/images/business_img/research.jpg");
  width: 0px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.research-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 65px;
  width: 1200px;
  left: 100px;
  opacity: 0;
}

.research-text {
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50px;
  right: -324px;
  line-height: 38px;
  opacity: 0;
}

.research2 {
  width: 1200px;
  margin-top: 55px;
}

.photo-text {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.research-photo {
  display: flex;
}
.research-photo img {
  width: 100%;
  height: 100%;
  margin-right: 13px;
}

.photo-img {
  width: 290px;
  height: 290px;
  overflow: hidden;
  margin-right: 13px;
  position: relative;
}

.black-overlay {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 290px;
  height: 290px;
  z-index: 2;
  transition: top 0.5s ease;
}

.research3 {
  width: 1200px;
  margin-bottom: 150px;
}/*# sourceMappingURL=business.css.map */