//-----------------------------여기부터 파란색바 + 작은 타이틀
.business-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-line {
  margin: 150px 0 30px 0;
  width: 50px;
  border-bottom: 5px solid #004294;
}

.mini-text {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
}

//-----------------------------여기부터 사업 및 개발 방향
.present-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.present-img {
  background-image: url("../../../public/images/business_img/present.jpg");
  width: 1200px;
  height: 440px;
}

.present-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: -35px;
  width: 100%;
  left: 150px;
}

.present-text {
  color: #000;
  font-size: 20px;
  position: relative;
  right: -230px;
  line-height: 38px;
}

.present-line {
  width: 1200px;
  height: 2px;
  background-color: #ededed;
  margin: 110px 0;
}

.vision-box {
  display: flex;
  margin-bottom: 150px;
}

.vision-img {
  background-image: url("../../../public/images/business_img/vision.jpg");
  width: 592px;
  height: 700px;
}

.vision-text-box {
  padding: 45px 90px;
}

.vision-title {
  font-size: 40px;
  color: #004294;
  font-weight: bold;
  margin-bottom: 50px;
}

.vision-subtitle {
  font-size: 28px;
  color: #000;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 20px;
}

.vision-content {
  font-size: 20px;
  color: #515151;
  line-height: 38px;
}

.vision-div-line {
  width: 520px;
  height: 2px;
  background-color: #ededed;
  margin: 60px 0;
}

.vision-content1 {
  line-height: 38px;
  margin-bottom: 13px;
}

.vision-content2 {
  line-height: 38px;
}

//-----------------------------여기부터 모니터링 개요
.monitoring-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;
}

.monitoring-img {
  background-image: url("../../../public/images/business_img/monitoring.jpg");
  width: 1200px;
  height: 440px;
}

// .monitoring-title-text-box {
//   display: flex;
//   justify-content: space-around;
//   // background-color: #515151;
// }

.monitoring-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: -35px;
  width: 100%;
  left: 150px;
  // background-color: olive;
}

.monitoring-subtitle {
  color: #000;
  font-size: 20px;
  position: relative;
  top: -85px;
  right: -230px;
  line-height: 38px;
}

.monitoring1-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  > img {
    width: 1200px;
    height: 467px;
  }
}

.cause-matter {
  display: flex;
  margin-top: 35px;
  width: 1200px;
}

.cause-matter-left {
  background-color: #f3f3f3;
  color: #000;
  font-size: 25px;
  border-left: 5px solid #004294;
  line-height: 45px;
  width: 415px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 600;
}

.cause-matter-right {
  background-color: #fff;
  color: #000;
  font-size: 25px;
  border-right: 5px solid #004294;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  line-height: 45px;
  width: 785px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.div-line {
  margin: 110px 0;
  width: 1200px;
  height: 1px;
  background-color: #e3e3e3;
}

.monitoring3-box {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  padding: 110px 0 150px 0;
  > div {
    width: 1200px;
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-bottom: 50px;
  }
  > img {
    width: 1200px;
  }
}
