//-----------------------------여기부터 회사소개 이미지 + 텍스트
//모든 메뉴 통합
.sub-menu-box {
  background-image: url("../../../public/images/aboutus_img/aboutusTitle.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.sub-title {
  color: #fff;
  font-size: 55px;
  font-weight: 800;
  letter-spacing: -1px;
}

.sub-content {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

//-----------------------------여기부터 미니 네브바

.aboutus-mini-nav {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-nav-box {
  list-style: none;
  width: 100%;
  height: 110px;
  margin: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e3e3e3;
  background-color: white;
}

.aboutus-nav-btn {
  color: #515151;
  width: 230px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  a {
    font-size: 20px;
  }
}

.aboutus-nav-btn a::after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #004294;
}

.aboutus-nav-btn a::after {
  content: "";
  display: block;
  width: 0; /* 초기 너비를 0으로 설정 */
  height: 2px; /* 밑줄의 높이 설정 */
  background-color: #004294; /* 밑줄의 색상 설정 */
  transition: width 0.4s; /* 너비에 대한 전환 설정 */
}

.aboutus-nav-btn:hover a::after,
.aboutus-nav-btn:active a::after {
  // left: 0;
  // top: 74px;
  width: 100%;
}

.aboutus-nav-btn:hover {
  color: #004294;
}

//-----------------------------여기부터 파란색바 + 작은 타이틀

.aboutus-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-line {
  margin: 150px 0 30px 0;
  width: 50px;
  border-bottom: 5px solid #004294;
}

.about-overview-mini-text {
  color: #000;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 120px;
}

.mini-text {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
}

//-----------------------------여기부터 회사 개요

.overview-content {
  position: relative;
  margin-bottom: 350px;
}

.left-box {
  width: 70vw;
  height: 700px;
  background-color: #eff2f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding-left: 25vw;
  letter-spacing: -1px;
  opacity: 0;
  position: relative;
  top: 100px;
  div {
    font-size: 40px;
    font-weight: 800;
    color: #2f3b55;
  }
  p {
    font-size: 25px;
    line-height: 50px;
    margin: 0;
    color: #000;
  }
}

.right-box {
  position: absolute;
  top: 300px;
  right: 0;
  height: 650px;
  width: 44%;
  background-position: center center;
  opacity: 0;
}
//-----------------------------여기부터 연혁

.history-box {
  display: flex;
  margin-bottom: 150px;
}

.history-left-box {
  width: 310px;
  margin-right: 20px;
}
.dividing-line {
  width: 2px;
  background-color: #ededed;
}

.history-right-box {
  width: 790px;
  margin-left: 20px;
}

.year-title {
  color: #004294;
  font-weight: 800;
  font-size: 25px;
  border-top: 2px solid #004294;
  padding-top: 10px;
  opacity: 0;
  position: relative;
  top: 100px;
}

.year-title-other-height1 {
  height: 200px;
}

.year-title-other-height2 {
  height: 580px;
}

.year-title-other-height3 {
  height: 630px;
  border-bottom: 2px solid #004294;
}

.year-title-other-height4 {
  height: 630px;
  border-bottom: 2px solid #ededed;
}

.year-content {
  border-top: 2px solid #ededed;
  padding: 10px;
  opacity: 0;
  position: relative;
  top: 100px;
}

.month-content {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  float: left;
}

.history-month {
  color: #000;
  font-size: 18px;
  font-weight: 800;
  margin: 5px;
  line-height: 42px;
}

.history-content {
  color: #000;
  font-size: 18px;
  margin: 5px;
  line-height: 42px;
}

.faint-year {
  position: absolute;
  bottom: -50px;
  right: 0;
  color: #f7f7f7;
  font-size: 130px;
  font-weight: 800;
  z-index: -3;
  float: right;
}

//-----------------------------여기부터 업무영역
.domain-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.domain-text {
  opacity: 0;
  position: relative;
  top: 100px;
}

.domain-title {
  color: #2f3b55;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.domain-subtitle {
  color: #8a8a8a;
  font-size: 16px;
  letter-spacing: -0.8px;
  text-align: center;
}

.domain-content {
  display: flex;
  margin-top: 70px;
  margin-bottom: 150px;
  opacity: 0;
  position: relative;
  top: 100px;
}

.domain-seperate {
  padding: 20px 50px;
  text-align: center;
  // background-color: red;
  // border: 1px solid blue;
  box-sizing: border-box;
}

.seperate-second-box {
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
}

.domain-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.domain-box-title {
  color: #004294;
  font-size: 24px;
  font-weight: 800;
  height: 50px;
}

.domain-box-content {
  color: #515151;
  font-size: 18px;
  height: 110px;
}

@media screen and (max-width: 1540px) {
  .left-box {
    width: 80vw;
    height: 500px;
    padding-left: 18vw;
    letter-spacing: -1px;
    div {
      font-size: 30px;
    }
    p {
      font-size: 20px;
      line-height: 40px;
      margin: 0;
    }
  }

  .right-box {
    position: absolute;
    top: 300px;
    right: 0;
    height: 400px;
    width: 42%;
    background-position: center;
  }

  .history-left-box {
    width: 25vw;
  }

  .history-right-box {
    width: 65vw;
  }
  .history-month {
    font-size: 16px;
    line-height: 38px;
  }

  .history-content {
    font-size: 16px;
    line-height: 38px;
  }
  .aboutus-content-box img {
    width: 75vw;
  }
  .domain-seperate {
    padding: 20px 30px;
  }
  .domain-title {
    font-size: 23px;
  }
  .domain-subtitle {
    font-size: 15px;
  }
  .domain-box-title {
    font-size: 19px;
  }
  .domain-box-content {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  .mini-line {
    border-bottom: 3px solid #004294 !important;
    margin: 100px 0 30px 0 !important;
  }

  .about-overview-mini-text,
  .mini-text {
    font-size: 36px !important;
  }

  .left-box {
    width: 80vw;
    height: 500px;
    padding-left: 12vw;
    letter-spacing: -1px;
    div {
      font-size: 28px;
    }
    p {
      font-size: 17px;
      line-height: 34px;
    }
  }
  .right-box {
    position: absolute;
    top: 300px;
    right: 0;
    height: 400px;
    width: 45%;
    background-position: center;
  }
  .overview-content {
    margin-bottom: 250px;
  }
  .year-content {
    padding: 7px;
  }
  //////////////////////////////////////
  .domain-seperate {
    padding: 0 15px;
  }
  .domain-title {
    font-size: 3.1vw;
  }
  .domain-subtitle {
    font-size: 1.5vw;
  }
  .domain-img-box {
    width: 30vw;
  }
  .domain-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
  }
  .domain-box-title {
    font-size: 1.76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .domain-box-content {
    font-size: 1.39vw;
  }
}

@media screen and (max-width: 768px) {
  .aboutus-mini-nav {
    height: 90px;
  }

  .aboutus-nav-box {
    height: 90px;
    padding: 0 10px;
  }

  .aboutus-nav-btn {
    height: 90px;
    a {
      font-size: 18px;
    }
  }

  .about-overview-mini-text,
  .mini-text {
    font-size: 32px !important;
  }

  .left-box {
    width: 80vw;
    height: 420px;
    padding-left: 8vw;
    letter-spacing: -1px;
    div {
      font-size: 22px;
    }
    p {
      font-size: 14px;
      line-height: 30px;
    }
  }
  .right-box {
    position: absolute;
    top: 270px;
    right: 0;
    height: 360px;
    width: 43%;
    background-position: center;
  }
  .overview-content {
    margin-bottom: 230px;
  }
  .year-title {
    padding-top: 5px;
    font-size: 22px;
  }
  .year-content {
    padding: 5px;
  }
  .history-left-box {
    width: 25vw;
    margin-right: 9px;
  }

  .history-right-box {
    width: 65vw;
    margin-left: 9px;
  }
  .history-month,
  .history-content {
    font-size: 14px;
    line-height: 33px;
  }
  .year-title-other-height1 {
    height: 170px;
  }
  .year-title-other-height2 {
    height: 520px;
  }
  .year-title-other-height3,
  .year-title-other-height4 {
    height: 560px;
  }
  .faint-year {
    display: none;
  }
  .month-content {
    margin-bottom: 12px;
  }
  .domain-content {
    display: flex;
    flex-direction: column;
    margin: 70px;
  }
  .domain-seperate {
    width: 97vw;
    display: flex;
  }
  .domain-img-box {
    width: 38%;
  }
  .domain-text-box {
    padding: 25px 15px;
    width: 62%;
  }
  .domain-box-title {
    font-size: 3.6vw;
  }
  .domain-box-content {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 525px) {
  .sub-menu-box {
    height: 380px;
    background-image: url("../../../public/images/aboutus_img/aboutusTitle.jpg");
    background-position: center;
  }

  .sub-title {
    font-size: 40px;
    letter-spacing: -1px;
  }

  .sub-content {
    font-size: 14px;
    margin-top: 10px;
  }

  .aboutus-mini-nav {
    height: 60px;
  }

  .aboutus-nav-box {
    height: 60px;
    padding: 0 10px;
  }

  .aboutus-nav-btn {
    height: 60px;
    a {
      font-size: 14px;
    }
  }

  .mini-line {
    margin: 70px 0 30px 0 !important;
    width: 30px !important;
    border-bottom: 3px solid #004294;
  }

  .about-overview-mini-text,
  .mini-text {
    font-size: 25px !important;
    margin-bottom: 70px !important;
  }

  .left-box {
    width: 80vw;
    height: 400px;
    padding-left: 20px;
    letter-spacing: -1px;
    div {
      font-size: 20px;
    }
    p {
      font-size: 13px;
      line-height: 28px;
    }
  }
  .right-box {
    position: absolute;
    top: 280px;
    right: 0;
    height: 300px;
    width: 44%;
    background-position: center;
  }
  .year-title {
    font-size: 18px;
    border-top: 1px solid #004294;
  }
  .dividing-line {
    width: 1px;
  }
  .year-content {
    border-top: 1px solid #ededed;
    padding: 0 3px;
  }
  .history-left-box {
    width: 25vw;
    margin-right: 4px;
  }

  .history-right-box {
    width: 65vw;
    margin-left: 4px;
  }
  .history-month,
  .history-content {
    font-size: 12px;
    line-height: 26px;
  }
  .year-title-other-height1 {
    height: 160px;
  }
  .year-title-other-height2 {
    height: 600px;
  }
  .year-title-other-height3 {
    height: 630px;
    border-bottom: 1px solid #004294;
  }

  .year-title-other-height4 {
    height: 630px;
    border-bottom: 1px solid #ededed;
  }
  //////////////////////////////////////

  .domain-title {
    font-size: 4.3vw;
    margin-bottom: 13px;
  }
  .domain-subtitle {
    font-size: 2.8vw;
  }
  .domain-seperate {
    width: 100vw;
  }
  .domain-img-box {
    width: 30vw;
    img {
      width: 90%;
    }
  }
  .domain-text-box {
    padding: 25px 8px;
    width: 70vw;
  }
  .domain-box-title {
    font-size: 4.2vw;
  }
  .domain-box-content {
    font-size: 3vw;
  }
}
