//-----------------------------여기부터 파란색바 + 작은 타이틀

.device-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-bottom: 100px;
}

.mini-line {
  margin: 150px 0 30px 0;
  width: 50px;
  border-bottom: 5px solid #004294;
}

.mini-text {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
}

//-----------------------------여기부터 소개/기능
.function-img {
  background-image: url("../../../public/images/device_img/introfunc.jpg");
  width: 1200px;
  height: 440px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 150px;
  img {
    position: relative;
    top: -60px;
    margin: 0 50px;
  }
}

.func-dev-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  justify-content: center;
  align-items: center;
}

.device-introfunc {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
  width: 1200px;
}

.func-dev-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device_img {
  margin: 0 10px 10px 10px;
}

.device_value_img {
  margin: 0 10px 10px 10px;
}

.function-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 150px 0;
}

.function-text {
  color: #000;
  font-size: 27px;
  font-weight: bold;
  background-color: #fff;
  border-left: 5px solid #004294;
  border-right: 5px solid #004294;
  // padding: 18px 10px;
  width: 1180px;
  text-align: center;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

//-----------------------------여기부터 프로세스/동작순서
.process-img {
  background-image: url("../../../public/images/device_img/process.jpg");
  width: 1200px;
  height: 440px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 150px;
  img {
    position: relative;
    top: -60px;
    margin: 0 50px;
  }
}

.process-box {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  position: relative;
}

.process-text {
  color: #000;
  font-size: 25px;
  width: 1200px;
  font-weight: bold;
  margin-bottom: 40px;
}

.process-img-box {
  border: 3px solid #e3e3e3;
  width: 1200px;
  height: 1080px;
  position: relative;
}

.arrow1 {
  position: absolute;
  top: 241px;
  left: 77px;
}
.equipment {
  position: absolute;
  top: 60px;
  left: 143px;
}
.farm {
  position: absolute;
  top: 526px;
  left: 140px;
}
.gateway {
  position: absolute;
  top: 63px;
  left: 814px;
}
.cloud {
  position: absolute;
  top: 238px;
  left: 831px;
}
.arrow2 {
  position: absolute;
  top: 411px;
  left: 922px;
}
.arrow3 {
  position: absolute;
  top: 615px;
  left: 558px;
}
.moni {
  position: absolute;
  top: 526px;
  left: 667px;
}
.arrow4 {
  position: absolute;
  top: 728px;
  left: 888px;
}
.manager {
  position: absolute;
  top: 841px;
  left: 667px;
}

.sequence-box {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequence-text {
  color: #000;
  font-size: 25px;
  width: 1200px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sequence1 {
  display: flex;
  height: 50px;
  color: white;
  font-size: 20px;
  > div:nth-child(1) {
    background-color: #595656;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    background-color: #949595;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(3) {
    background-color: #e6e6e7;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sequence2 {
  display: flex;
  height: 50px;
  color: #010101;
  font-size: 25px;
  margin-top: 30px;
  > div:nth-child(1) {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(3) {
    width: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(4) {
    width: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sequence6 {
  display: flex;
  height: 20px;
  margin-bottom: 30px;
  > div:nth-child(1) {
    width: 224px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    > div {
      width: 224px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
  > div:nth-child(2) {
    width: 200px;
    border-right: 1px solid #000;
    > div {
      width: 200px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
  > div:nth-child(3) {
    width: 200px;
    border-right: 1px solid #000;
    > div {
      width: 200px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
  > div:nth-child(4) {
    width: 580px;
    border-right: 1px solid #000;
    > div {
      width: 580px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
}

.sequence3 {
  display: flex;
  height: 100px;
  font-size: 30px;
  color: #010101;
  > div:nth-child(1) {
    background-color: #cbd5dc;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    background-color: #6f94cd;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  > div:nth-child(3) {
    background-color: #567eb4;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  > div:nth-child(4) {
    background-color: #d3def1;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sequence4 {
  position: relative;
  right: -15px;
  margin: 10px 0;
}

.sequence5 {
  display: flex;
  height: 100px;
  font-size: 30px;
  color: #010101;
  > div:nth-child(1) {
    background-color: #fff;
    width: 224px;
    border-bottom: 20px solid #595656;
  }
  > div:nth-child(2) {
    background-color: #6f94cd;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 20px solid #949595;
  }
  > div:nth-child(3) {
    background-color: #567eb4;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 20px solid #949595;
  }
  > div:nth-child(4) {
    background-color: #d3def1;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 20px solid #e6e6e7;
  }
}

.sequence-bottom-text {
  font-size: 23px;
  color: #010101;
  margin-top: 40px;
}
//-----------------------------여기부터 LED
.led-img {
  background-image: url("../../../public/images/device_img/led.jpg");
  width: 1200px;
  height: 440px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 150px;
  img {
    position: relative;
    top: -60px;
    margin: 0 50px;
  }
}

.led1 {
  margin-bottom: 150px;
}

.led-title {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.led2 {
  padding: 150px 0;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bad-box {
  display: flex;
  margin-bottom: 125px;
  img {
    width: 745px;
  }
}

.normal-box {
  display: flex;
  margin-bottom: 125px;
  img {
    width: 745px;
  }
}

.good-box {
  display: flex;
  margin-bottom: 125px;
  img {
    width: 745px;
  }
}

.verygood-box {
  display: flex;
  img {
    width: 745px;
  }
}

.legend-text-box1,
.legend-text-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 451px;
}

.legend-text-box1 {
  padding: 0 0 0 60px;
}

.legend-text-box2 {
  padding: 0 60px 0 0;
}

.legend-title {
  color: #010101;
  font-size: 35px;
  font-weight: 800;
  // line-height: 55px;
}

.legned-content {
  color: #000;
  font-size: 18px;
  line-height: 40px;
}

.appearProcess,
.fastAppear {
  opacity: 0;
}

/////////////////////////////
@media screen and (max-width: 1468px) {
  .mini-line {
    margin: 10vw 0 30px 0;
  }

  .mini-text {
    font-size: 2.7vw;
  }
  .function-img {
    width: 80vw;
    height: 30vw;
    font-size: 1.65vw;
    line-height: 3.6vw;
    margin-bottom: 10vw;
    img {
      width: 2.1vw;
      top: -4.5vw;
      margin: 0 4.3vw;
    }
  }

  .func-dev-box {
    width: 80vw;
    margin-bottom: 10vw;
  }

  .device-introfunc {
    font-size: 1.8vw;
    margin-bottom: 2.3vw;
    width: 80vw;
  }

  .func-dev-img {
    width: 80vw;
  }

  .device_img img {
    width: 25vw;
  }

  .device_value_img img {
    width: 53vw;
  }

  .function-box {
    padding: 10vw 0;
  }

  .function-text {
    height: 70px;
    font-size: 1.7vw;
    width: 80vw;
    margin: 1.1vw 0;
  }
  ///////////////////////////////////////////////
  .process-img {
    width: 80vw;
    height: 30vw;
    font-size: 1.65vw;
    line-height: 3.6vw;
    margin-bottom: 10vw;
    img {
      width: 2.1vw;
      top: -4.5vw;
      margin: 0 4.3vw;
    }
  }

  .process-box {
    padding: 10vw 0;
  }

  .process-text {
    font-size: 1.8vw;
    margin-bottom: 2.3vw;
    width: 80vw;
  }

  .process-img-box {
    width: 80vw;
    height: 73vw;
  }

  .arrow1 {
    position: absolute;
    top: 16vw;
    left: 4vw;
    width: 3vw;
  }
  .equipment {
    position: absolute;
    top: 3.1vw;
    left: 8.5vw;
    width: 45vw;
  }
  .farm {
    position: absolute;
    top: 37vw;
    left: 8.8vw;
    width: 25vw;
  }
  .gateway {
    position: absolute;
    top: 3.3vw;
    left: 56vw;
    width: 13.5vw;
  }
  .cloud {
    position: absolute;
    top: 15.5vw;
    left: 57vw;
    width: 13.5vw;
  }
  .arrow2 {
    position: absolute;
    top: 27vw;
    left: 63vw;
    width: 1.2vw;
  }
  .arrow3 {
    position: absolute;
    top: 41vw;
    left: 35vw;
    width: 6.5vw;
  }
  .moni {
    position: absolute;
    top: 35.5vw;
    left: 43vw;
    width: 31vw;
  }
  .arrow4 {
    position: absolute;
    top: 48.5vw;
    left: 58vw;
    width: 1.2vw;
  }
  .manager {
    position: absolute;
    top: 57vw;
    left: 43vw;
    width: 31vw;
  }
  /////////////////////////////////////////////////////
  .sequence-box {
    padding: 10vw 0;
  }

  .sequence-text {
    font-size: 1.8vw;
    margin-bottom: 2.3vw;
    width: 80vw;
  }

  .sequence1 {
    height: 45px;
    font-size: 1.4vw;
    > div:nth-child(1) {
      width: 16vw;
    }
    > div:nth-child(2) {
      width: 26.4vw;
    }
    > div:nth-child(3) {
      width: 37.5vw;
    }
  }

  .sequence2 {
    height: 45px;
    font-size: 1.7vw;
    margin-top: 1.8vw;
    > div:nth-child(1) {
      width: 16vw;
    }
    > div:nth-child(2) {
      width: 13vw;
    }
    > div:nth-child(3) {
      width: 13vw;
    }
    > div:nth-child(4) {
      width: 37.5vw;
    }
  }

  .sequence6 {
    height: 20px;
    margin-bottom: 1.8vw;
    > div:nth-child(1) {
      width: 16vw;
      > div {
        width: 16vw;
        height: 10px;
      }
    }
    > div:nth-child(2) {
      width: 13.1vw;
      > div {
        width: 13.1vw;
        height: 10px;
      }
    }
    > div:nth-child(3) {
      width: 13.1vw;
      > div {
        width: 13.1vw;
        height: 10px;
      }
    }
    > div:nth-child(4) {
      width: 37.5vw;
      > div {
        width: 37.5vw;
        height: 10px;
      }
    }
  }

  .sequence3 {
    height: 80px;
    font-size: 2vw;
    > div:nth-child(1) {
      width: 16vw;
    }
    > div:nth-child(2) {
      width: 13.1vw;
    }
    > div:nth-child(3) {
      width: 13.1vw;
    }
    > div:nth-child(4) {
      width: 37.5vw;
    }
  }

  .sequence4 {
    position: relative;
    right: -2vw;
    margin: 1vw 0;
  }

  .sequence4 img {
    width: 39vw;
  }

  .sequence5 {
    height: 90px;
    font-size: 2vw;
    > div:nth-child(1) {
      width: 16vw;
      border-bottom: 1.3vw solid #595656;
    }
    > div:nth-child(2) {
      background-color: #6f94cd;
      width: 13.1vw;
      border-bottom: 1.3vw solid #949595;
    }
    > div:nth-child(3) {
      background-color: #567eb4;
      width: 13.1vw;
      border-bottom: 1.3vw solid #949595;
    }
    > div:nth-child(4) {
      background-color: #d3def1;
      width: 37.5vw;
      border-bottom: 1.3vw solid #e6e6e7;
    }
  }

  .sequence-bottom-text {
    font-size: 1.5vw;
    margin-top: 2.5vw;
  }

  /////////////////////////////////////
  .led-img {
    width: 80vw;
    height: 30vw;
    font-size: 1.65vw;
    line-height: 3.6vw;
    margin-bottom: 10vw;
    img {
      width: 2.1vw;
      top: -4.5vw;
      margin: 0 4.3vw;
    }
  }
  .led1 {
    margin-bottom: 10vw;
    width: 80vw;
    img {
      width: 80vw;
    }
  }
  .led-title {
    font-size: 1.8vw;
    margin-bottom: 2.3vw;
    width: 80vw;
  }
  .bad-box,
  .normal-box,
  .good-box,
  .verygood-box {
    width: 80vw;
    margin-bottom: 7vw;
    img {
      width: 45vw;
    }
  }

  .legend-title {
    font-size: 2.6vw;
  }
  .legned-content {
    font-size: 1.26vw;
    line-height: 3vw;
  }
  .legend-text-box1 {
    padding-left: 4.4vw;
  }
  .legend-text-box2 {
    padding-right: 4.4vw;
  }
  .led2 {
    padding: 10vw 0;
  }
}
@media screen and (max-width: 992px) {
  .mini-line {
    margin: 10vw 0 30px 0 !important;
  }

  .mini-text {
    font-size: 3.3vw !important;
    margin-bottom: 9vw;
  }

  .function-img img {
    width: 2.3vw;
  }

  .function-text {
    font-size: 2vw;
    margin: 1.1vw 0;
    height: 60px;
    border-left: 3px solid #004294;
    border-right: 3px solid #004294;
  }
  //////////////////////////////////////////
  .process-img img {
    width: 2.3vw;
  }
  .sequence1,
  .sequence2 {
    height: 4.5vw;
  }

  .sequence6 {
    height: 15px;
    > div:nth-child(1) {
      > div {
        height: 7.5px;
      }
    }
    > div:nth-child(2) {
      > div {
        height: 7.5px;
      }
    }
    > div:nth-child(3) {
      > div {
        height: 7.5px;
      }
    }
    > div:nth-child(4) {
      > div {
        height: 7.5px;
      }
    }
  }

  .sequence3 {
    height: 6.5vw;
  }

  .sequence5 {
    height: 7.5vw;
  }
  //////////////////////////////////////////
  .led-img img {
    width: 2.3vw;
  }
}
@media screen and (max-width: 768px) {
  // .mini-text {
  //   font-size: 2vw;
  // }
  .function-img {
    width: 80vw;
    height: 30vw;
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: 10vw;
    img {
      width: 2.1vw;
      top: -5vw;
      margin: 0 3.5vw;
    }
    div {
      font-size: 2vw;
    }
  }

  .device-introfunc {
    font-size: 2.1vw;
  }

  .function-text {
    font-size: 2.1vw;
    margin: 1.1vw 0;
    height: 48px;
    // padding: 2.3vw 0;
  }
  /////////////////////////////////////////////
  .process-img {
    width: 80vw;
    height: 30vw;
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: 10vw;
    img {
      width: 2.1vw;
      top: -5vw;
      margin: 0 3.5vw;
    }
    div {
      font-size: 2vw;
    }
  }

  /////////////////////////////////////////////
  .led-img {
    width: 80vw;
    height: 30vw;
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: 10vw;
    img {
      width: 2.1vw;
      top: -5vw;
      margin: 0 3.5vw;
    }
    div {
      font-size: 2vw;
    }
  }
}

@media screen and (max-width: 525px) {
  .device-introfunc {
    font-size: 2.3vw;
  }
  .function-text {
    font-size: 2.2vw;
    margin: 1.1vw 0;
    height: 40px;
    border-left: 2px solid #004294;
    border-right: 2px solid #004294;
  }
  ////////////////////////////////////////////

  .sequence6 {
    height: 10px;
    > div:nth-child(1) {
      > div {
        height: 5px;
      }
    }
    > div:nth-child(2) {
      > div {
        height: 5px;
      }
    }
    > div:nth-child(3) {
      > div {
        height: 5px;
      }
    }
    > div:nth-child(4) {
      > div {
        height: 5px;
      }
    }
  }
}
