//-----------------------------여기부터 파란색바 + 작은 타이틀

.device-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-bottom: 100px;
}

.mini-line {
  margin: 150px 0 30px 0;
  width: 50px;
  border-bottom: 5px solid #004294;
}

.mini-text {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
}

//-----------------------------여기부터 소개/기능
.function-img {
  background-image: url("../../../public/images/device_img/introfunc.jpg");
  width: 1200px;
  height: 440px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 150px;
  img {
    position: relative;
    top: -60px;
    margin: 0 50px;
  }
}

.func-dev-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  justify-content: center;
  align-items: center;
}

.device-introfunc {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
  width: 1200px;
}

.func-dev-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device_img {
  margin: 0 10px 10px 10px;
}

.device_value_img {
  margin: 0 10px 10px 10px;
}

.function-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 150px 0;
}

.function-text {
  color: #000;
  font-size: 27px;
  font-weight: bold;
  background-color: #fff;
  border-left: 5px solid #004294;
  border-right: 5px solid #004294;
  padding: 18px 10px;
  width: 1180px;
  text-align: center;
  margin: 25px 0;
}

//-----------------------------여기부터 프로세스/동작순서
.process-img {
  background-image: url("../../../public/images/device_img/process.jpg");
  width: 1200px;
  height: 440px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 150px;
  img {
    position: relative;
    top: -60px;
    margin: 0 50px;
  }
}

.process-box {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  position: relative;
}

.process-text {
  color: #000;
  font-size: 25px;
  width: 1200px;
  font-weight: bold;
  margin-bottom: 40px;
}

.process-img-box {
  border: 3px solid #e3e3e3;
  width: 1200px;
  height: 1080px;
  position: relative;
}

.arrow1 {
  position: absolute;
  top: 241px;
  left: 77px;
}
.equipment {
  position: absolute;
  top: 60px;
  left: 143px;
}
.farm {
  position: absolute;
  top: 526px;
  left: 140px;
}
.gateway {
  position: absolute;
  top: 63px;
  right: 191px;
}
.cloud {
  position: absolute;
  top: 238px;
  right: 173px;
}
.arrow2 {
  position: absolute;
  top: 411px;
  right: 263px;
}
.arrow3 {
  position: absolute;
  left: 558px;
  top: 615px;
}
.moni {
  position: absolute;
  top: 526px;
  right: 77px;
}
.arrow4 {
  position: absolute;
  top: 728px;
  right: 297px;
}
.manager {
  position: absolute;
  top: 841px;
  right: 77px;
}

.sequence-box {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequence-text {
  color: #000;
  font-size: 25px;
  width: 1200px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sequence1 {
  display: flex;
  height: 50px;
  color: white;
  font-size: 20px;
  > div:nth-child(1) {
    background-color: #595656;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    background-color: #949595;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(3) {
    background-color: #e6e6e7;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sequence2 {
  display: flex;
  height: 50px;
  color: #010101;
  font-size: 25px;
  margin-top: 30px;
  > div:nth-child(1) {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(3) {
    width: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(4) {
    width: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sequence6 {
  display: flex;
  height: 25px;
  margin-bottom: 30px;
  > div:nth-child(1) {
    width: 224px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    > div {
      width: 224px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
  > div:nth-child(2) {
    width: 200px;
    border-right: 1px solid #000;
    > div {
      width: 200px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
  > div:nth-child(3) {
    width: 200px;
    border-right: 1px solid #000;
    > div {
      width: 200px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
  > div:nth-child(4) {
    width: 580px;
    border-right: 1px solid #000;
    > div {
      width: 580px;
      height: 12.5px;
      border-bottom: 1px solid #000;
    }
  }
}

.sequence3 {
  display: flex;
  height: 100px;
  font-size: 30px;
  color: #010101;
  > div:nth-child(1) {
    background-color: #cbd5dc;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    background-color: #6f94cd;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  > div:nth-child(3) {
    background-color: #567eb4;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  > div:nth-child(4) {
    background-color: #d3def1;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sequence4 {
  position: relative;
  right: -315px;
  margin: 10px 0;
}

.sequence5 {
  display: flex;
  height: 120px;
  font-size: 30px;
  color: #010101;
  > div:nth-child(1) {
    background-color: #fff;
    width: 224px;
    border-bottom: 20px solid #595656;
  }
  > div:nth-child(2) {
    background-color: #6f94cd;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 20px solid #949595;
  }
  > div:nth-child(3) {
    background-color: #567eb4;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 20px solid #949595;
  }
  > div:nth-child(4) {
    background-color: #d3def1;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 20px solid #e6e6e7;
  }
}

.sequence-bottom-text {
  font-size: 23px;
  color: #010101;
  margin-top: 40px;
}
//-----------------------------여기부터 LED
.led-img {
  background-image: url("../../../public/images/device_img/led.jpg");
  width: 1200px;
  height: 440px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 150px;
  img {
    position: relative;
    top: -60px;
    margin: 0 50px;
  }
}

.led1 {
  margin-bottom: 150px;
}

.led-title {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.led2 {
  padding: 150px 0;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bad-box {
  display: flex;
  margin-bottom: 125px;
  // background-color: #567eb4;
  img {
    width: 745px;
  }
}

.normal-box {
  display: flex;
  margin-bottom: 125px;
  // background-color: #567eb4;
  img {
    width: 745px;
  }
}

.good-box {
  display: flex;
  margin-bottom: 125px;
  // background-color: #567eb4;
  img {
    width: 745px;
  }
}

.verygood-box {
  display: flex;
  // background-color: #567eb4;
  img {
    width: 745px;
  }
}

.legend-text-box1,
.legend-text-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 451px;
}

.legend-text-box1 {
  padding: 0 0 0 60px;
}

.legend-text-box2 {
  padding: 0 60px 0 0;
}

.legend-title {
  color: #010101;
  font-size: 35px;
  font-weight: 800;
  line-height: 55px;
}

.legned-content {
  color: #000;
  font-size: 18px;
  line-height: 40px;
}

.appearProcess,
.fastAppear {
  opacity: 0;
}
